<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>{% block title %}{% endblock %} - WishCraft</title>
    <link rel="icon" href="https://firebasestorage.googleapis.com/v0/b/buzzchat-user-data.appspot.com/o/My%20site%2Fsimple_wc_logo.jpeg?alt=media&token=6bc37091-ae55-4f78-bb68-1bb6283a7980">
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const toggleButton = document.querySelector("[data-collapse-toggle]");
        const navbarMenu = document.getElementById("navbar-dropdown");

        toggleButton.addEventListener("click", function () {
          navbarMenu.classList.toggle("hidden");
        });
      });
    </script>
  </head>


    <nav class="bg-white border-gray-200">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="https://firebasestorage.googleapis.com/v0/b/buzzchat-user-data.appspot.com/o/My%20site%2Fsimple_logo_of_my_website_name_wishcraft%20(1).jpeg?alt=media&token=fcfdd1b0-c13f-4d91-8221-61e0c658ac00" class="h-14" alt="Flowbite Logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap"></span>
        </a>
        <button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
          <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white">
            <li>
              <a href="/" class="block py-2 px-3 text-white bg-blue-700 rounded-sm md:bg-transparent md:text-blue-700 md:p-0" aria-current="page">Home</a>
            </li>
            <li>
              <a href="/about" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">About us</a>
            </li>
            <li>
              <a href="/contact" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Contact</a>
            </li>
            <li>
              <a href="/get-template" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Get Template</a>
            </li>
            <li>
              <a href="/delete-template" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Delete Template</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <body>
    {% block body %}
    {% endblock %}
    </body>
    <footer class="bg-white rounded-lg shadow-sm m-4">
      <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
          <a href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
            <img src="https://firebasestorage.googleapis.com/v0/b/buzzchat-user-data.appspot.com/o/My%20site%2Fsimple_logo_of_my_website_name_wishcraft%20(1).jpeg?alt=media&token=fcfdd1b0-c13f-4d91-8221-61e0c658ac00" class="h-8" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap"></span>
          </a>
          <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0">
            <li>
              <a href="/about" class="hover:underline me-4 md:me-6">About us</a>
            </li>
            <li>
              <a href="/privacy-policy" class="hover:underline me-4 md:me-6">Privacy Policy</a>
            </li>
            <li>
              <a href="/contact" class="hover:underline">Contact</a>
            </li>
          </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center">© 2025 <a href="/" class="hover:underline">WishCraft™</a>. All Rights Reserved.</span>
      </div>
    </footer>

</html>
