{% extends "index.html" %}
{%  block title %}Privacy Policy{%  endblock %}
{% block body %}

<div class="bg-gray-100 text-gray-900">
    <div class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg mt-10">
        <h1 class="text-3xl font-bold text-center mb-6">Privacy Policy</h1>
        
        <p class="mb-4">Your privacy is important to us. This Privacy Policy explains how we collect, use, and protect your information when you use our website.</p>
        
        <h2 class="text-xl font-semibold mt-6">1. Information We Collect</h2>
        <p class="mb-4">We only store your images and template information. We do not keep any other data. If you want to recover your data, please contact us.</p>
        
        
        
        <h2 class="text-xl font-semibold mt-6">2. Cookies</h2>
        <p class="mb-4">We do not use cookies to track or store any of your data.</p>
        
        <h2 class="text-xl font-semibold mt-6">3. Security</h2>
        <p class="mb-4">We do our best to keep your information safe, but we can't promise complete security. If your template ID or code is weak and someone else accesses your template, WishCraft is not responsible for any misuse. To protect your template, use a strong and unique template ID/code.</p>
        
        <h2 class="text-xl font-semibold mt-6">4. Changes to This Policy</h2>
        <p class="mb-4">We may update this policy from time to time. Please review it periodically.</p>
        
        <h2 class="text-xl font-semibold mt-6">5. Contact Us</h2>
        <p class="mb-4">If you have any questions, feel free to contact us at <a href="/contact" class="text-blue-600 underline">support@wishcraft.com</a>.</p>
    </div>
</div>
{% endblock %}
